body{
  margin: 2%;
}
header{
  font-size: 200%;
  background: rgb(36, 200, 200);
  color: white;
  border-radius: 5em;
}

/* Form elements*/

form{
  margin: 8%;
  background-color: aqua;
  padding: 2em;
  margin: 2em;
  color: #2c922c;
}

/* EASY PARA FORMATING AND TRANSFORM CASE OF TEXT AND USEING PADING */

P{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 150%;
  padding-left: 100px;
  padding-right: 100px;

}
P>i{
  color: rgb(66, 66, 202);
  text-transform: uppercase;
}

/* CENTER ALIGN ELEMENTS AND OPAQUE IMAGES*/
img{
  display: block;
  width: 30%;
  height: 50%;
  margin-left: auto;
  margin-right: auto;
  opacity: 0.5;
}
img:hover{
  opacity: 1;
}

/* CHANGE LINK COLORS AND REMOVE LINK UNDERLINE*/

a{
  display: inline-block;
  text-decoration: none;
  color : aqua;
  margin-left: auto;
  margin-right: auto;
}
a:visited{
  color:gold;
}

/* HILIGHTING TABLE ROWS*/

table {
  border-collapse: collapse;
  width:50%;
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
  font-size: 120%;
  margin-left: auto;
  margin-right: auto;
}
th {
  color: #FFFFFF; /* White */
  border: 2px solid #FFFFFF; /* White */
}
td{
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
  font-size: 100%;
  color: #003cff;
  border: 2px solid #FFFFFF; /* White */
}
tr{
  opacity: 0.8;
}

tr:nth-child(odd) {
background: #2c922c;
}
tr:nth-child(even) {
background: #65a83d;
}

tr:last-child>td:last-child{
-webkit-border-radius: 0 0 25px 0;
border-radius: 0 0 25px 0;
}
tr:last-child>td:first-child {
-webkit-border-radius: 0 0 0 25px;
border-radius: 0 0 0 25px;	
}
tr:first-child>th:first-child {
-webkit-border-radius:  25px 0 0 0;
border-radius:  25px 0 0 0;	
}
tr:first-child>th:last-child {
-webkit-border-radius: 0 25px 0 0;
border-radius: 0 25px  0 0;	
}
tr:hover{
  color: #FFFFFF; /* White */
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
  font-size: 130%;
  opacity: 1;
}
